<div class="form-group">
<input type="hidden" ng-model="id" />
<div class="controls">
<input type="text" placeholder="First Name" ng-model="firstName"class="form-control" /><br />
 <input type="text"
	placeholder="Last Name" ng-model="lastName" class="form-control" /><br />
 <input type="password"
	placeholder="Password" ng-model="password" class="form-control"/> <br />
<input type="text" placeholder="Teacher-Id" ng-model="teacherId" class="form-control"  /> <br />
<input type="text" placeholder="E-Mail" ng-model="email" class="form-control" /> <br />
</div>
</div>
<select ng-model="department"
	ng-options="d.name for d in departmentOptions" class="form-control">
	<option value="">---select department---</option>

</select><br />

<div class="control-group">
<div class="controls"><input type="button" name="create"
	ng-click="createTeacher()" value="Create" class="btn btn-primary"
	ng-hide="hideSelection" /> <input type="button" name="update"
	value="Update" ng-click="updateTeacher()" class="btn btn-primary" /></div>
</div>


Data Entered by you:
<br />
Response: {{status}}: {{statusCode}}, {{statusMessage}}
