<form  >
<div align="center">
  <div class="control-group">
    
    <div class="controls">
      <input type="text" placeholder="email" ng-model="userEmail" />
    </div>
  </div>
  <div class="control-group">
   
    <div class="controls">
     <input type="password" placeholder="Password" ng-model="userPassword" />
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input class="btn btn-primary" type="button" name="login" ng-click="login()" value="Login" />
      <input  class="btn btn-primary" type="button"  value="SignUp"  ng-click="signUp()" />
     
    </div>
  </div>
  </div>
  
</form>