<form><select ng-model="department" class="form-control"
	ng-options="d.name for d in departmentOptions" ng-hide="hideSelection">
	<option value="">---select department---</option>

</select><br />

<select ng-model="semester"
	ng-options="sm.name for sm in semesterOptions" ng-hide="hideSelection" class="form-control">
	<option value="">---select Semester---</option>

</select> <br />
<select ng-model="section" ng-options="s.name for s in sectionOptions" ng-hide="hideSelection" class="form-control">
	<option value="">---select sections---</option>

</select> <br />


<input class="btn btn-primary" type="button" name="getstudentlist"
	value="Get Student List" ng-click="getstudentlist()" ng-hide="hideSelection" /></form>

<table class="table table-bordered">
	<thead>
		<tr>
			<th><h5>Roll no</h5></th>
			<th><h5>Name</h5></th>
			<th><h5>EMail</h5></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="s in studentList">
			<td>{{s.rollNo}}</td>
			<td>{{s.firstName}} {{s.lastName}} </td>
			<td>{{s.email}}</td>
			
		</tr>
	</tbody>
</table>