<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="myApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<title>Insert title here</title>

<link rel="stylesheet" href="css/bootstrap/css/bootstrap1.css"
	type="text/stylesheet" />
<!--  <link rel="stylesheet" href="css/topcoat-0.8.0/css/topcoat-mobile-dark.css" type="text/stylesheet" />-->
<!--<link rel="stylesheet" href="css/styles.css" type="text/stylesheet" />-->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<!-- <script src="../../lib/jquery-1.11.0.min.js" type="text/javascript"></script> -->
<script src="lib/angular.min.js"></script>
<script src="lib/angular-touch.js"></script>
<script src="lib/angular-resource.js"></script>
<script src="lib/angular-animate.js"></script>
<script src="lib/angular-route.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
  <script src="js/Services.js"></script>
<script src="js/controllers/weekTimeTable.js"></script>
<!--    <script src="../../js/memory-services.js"></script>-->
<script src="js/rest-services.js"></script>

</head>
<body ng-controller="weekTimeTableCtrl">
<h1 align="center">NewTimetable Form</h1>
<br>
<br>
<form align="center"><input type="hidden" ng-model="id" />
 <select ng-model="department" ng-options="d.name for d in departmentOptions">
	<option value="">---select department---</option>

	 </select>
	 <br/>
	  <select ng-model="semester" ng-options="sm.name for sm in semesterOptions">
	<option value="">---select Semester---</option>

	 </select>
	 <br/>
	 
	  <select ng-model="section" ng-options="s.name for s in sectionOptions">
	<option value="">---select section---</option>

	 </select>
	 <br/>
 <!--<select
	ng-model="department">
	<option value="">--Select Department--</option>
	<option value="1">Electronics</option>
	<option value="2">Others</option>
</select>


<select ng-model="semester">
	<option value="">--Select Term--</option>
	<option value="1">Term1</option>
	<option value="2">Term2</option>
</select> <br>
<br>

<!--<select ng-model="section">
	<option value="">---Select Section---</option>
	<option value="1">A</option>
	<option value="2">B</option>
</select> --><br>
<br>

<input class="btn btn-primary" type="button" name="create"
	ng-click="timeTable()" value="GO" /></form>
Data Entered by you:
<br />
Response: {{status}}: {{statusCode}}, {{statusMessage}}
<div class="row show-grid hidden-xs">
<div class="col-xs-12 col-md-1">Day</div>
<div class="col-xs-offset-1 col-md-offset-0 col-xs-8 col-md-1">P1</div>
<div class="col-xs-offset-1 col-md-offset-0 col-xs-8 col-md-1">P2</div>
<div class="col-xs-offset-1 col-md-offset-0 col-xs-8 col-md-1">P3</div>
<div class="col-xs-offset-1 col-md-offset-0 col-xs-8 col-md-1">P4</div>
<div class="col-xs-offset-1 col-md-offset-0 col-xs-8 col-md-1">P5</div>
<div class="col-xs-offset-1 col-md-offset-0 col-xs-8 col-md-1">P6</div>

</div>
<div class="row  show-grid" ng-repeat="day in timeTable[0]" ng-controller='ttRowCtrl'>
<div class="col-xs-12  col-md-1">Day #{{day[0].day}}</div>


<!-- p1-->
<div ng-controller='ttCellCtrl' class="col-xs-12">
	<div class="hidden-md hidden-lg hidden-sm col-xs-1 col-xs-offset-1">P1</div>
	<div class="col-xs-8  col-md-1">
		{{day[0].subjectTeacher.subject.name}},{{day[0].subjectTeacher.teacher.FName}},
			{{day[0].subjectTeacher.teacher.LName}},{{day[0].room}}
		<textarea class="col-md-12"
			ng-show="showTextBox" row="4" column="6" ng-model="userNotes">
		</textarea>
		<br/>
		<button ng-click="saveNotes(0)" ng-show="showTextBox" 
			type="button" class="btn btn-default btn-xs"><span
			class="glyphicon-ok"></span>S
		</button>
		<button type="button" class="btn btn-default btn-xs"
			ng-hide="showTextBox" ng-click="showTextBox=true"><span
			class="glyphicon-pencil"></span>E
		</button>
		<button type="button" class="btn btn-default btn-xs"
			ng-show="showTextBox" ng-click="showTextBox=false"><span
			class="glyphicon-pencil"></span>C
		</button>
		
		<div ng-show="showNotes">
		<div ng-repeat="n in notes.notes">
		<span style="font-size: 8px; font-style: italic;">{{n.stn_dt}}, {{n.userNotes}}</span>
		</div>
		{{notes.userNotes}}
		</div>
		<button ng-click="readNotes(0)" ng-hide="showNotes || showTextBox" 
			type="button" class="btn btn-default btn-xs"><span
			class="glyphicon-ok"></span>R
		</button>
		<button ng-show="showNotes" ng-click="showNotes=false"type="button" class="btn btn-default btn-xs"><span
			class="glyphicon-ok">H</span>
		</button>
	</div>
</div>


<br/>
<!-- p2-->
<div ng-controller='ttCellCtrl' class="col-xs-12">
	<div class="hidden-md hidden-lg hidden-sm col-xs-1 col-xs-offset-1">P2</div>
	<div class="col-xs-8  col-md-1">
		{{day[1].subjectTeacher.subject.name}},{{day[1].subjectTeacher.teacher.FName}},
			{{day[1].subjectTeacher.teacher.LName}},{{day[1].room}}
		<textarea class="col-md-12"
			ng-show="showTextBox" row="4" column="6" ng-model="userNotes">
		</textarea>
		<br/>
		<button ng-click="saveNotes(1)" ng-show="showTextBox" 
			type="button" class="btn btn-default btn-xs"><span
			class="glyphicon-ok"></span>S
		</button>
		<button type="button" class="btn btn-default btn-xs"
			ng-hide="showTextBox" ng-click="showTextBox=true"><span
			class="glyphicon-pencil"></span>E
		</button>
		<button type="button" class="btn btn-default btn-xs"
			ng-show="showTextBox" ng-click="showTextBox=false"><span
			class="glyphicon-pencil"></span>C
		</button>
		
		<div ng-show="showNotes">
		<div ng-repeat="n in notes.notes">
		<span style="font-size: 8px; font-style: italic;">{{n.stn_dt}}, {{n.userNotes}}</span>
		</div>
		{{notes.userNotes}}
		</div>
		<button ng-click="readNotes(1)" ng-hide="showNotes || showTextBox" 
			type="button" class="btn btn-default btn-xs"><span
			class="glyphicon-ok"></span>R
		</button>
		<button ng-show="showNotes" ng-click="showNotes=false"type="button" class="btn btn-default btn-xs"><span
			class="glyphicon-ok">H</span>
		</button>
	</div>
</div>


<br/>


<!-- p3-->
<div ng-controller='ttCellCtrl' class="col-xs-12">
	<div class="hidden-md hidden-lg hidden-sm col-xs-1 col-xs-offset-1">P3</div>
	<div class="col-xs-8  col-md-1">
		{{day[2].subjectTeacher.subject.name}},{{day[2].subjectTeacher.teacher.FName}},
			{{day[2].subjectTeacher.teacher.LName}},{{day[2].room}}
		<textarea class="col-md-12"
			ng-show="showTextBox" row="4" column="6" ng-model="userNotes">
		</textarea>
		<br/>
		<button ng-click="saveNotes(2)" ng-show="showTextBox" 
			type="button" class="btn btn-default btn-xs"><span
			class="glyphicon-ok"></span>S
		</button>
		<button type="button" class="btn btn-default btn-xs"
			ng-hide="showTextBox" ng-click="showTextBox=true"><span
			class="glyphicon-pencil"></span>E
		</button>
		<button type="button" class="btn btn-default btn-xs"
			ng-show="showTextBox" ng-click="showTextBox=false"><span
			class="glyphicon-pencil"></span>C
		</button>
		
		<div ng-show="showNotes">
		<div ng-repeat="n in notes.notes">
		<span style="font-size: 8px; font-style: italic;">{{n.stn_dt}}, {{n.userNotes}}</span>
		</div>
		{{notes.userNotes}}
		</div>
		<button ng-click="readNotes(2)" ng-hide="showNotes || showTextBox" 
			type="button" class="btn btn-default btn-xs"><span
			class="glyphicon-ok"></span>R
		</button>
		<button ng-show="showNotes" ng-click="showNotes=false"type="button" class="btn btn-default btn-xs"><span
			class="glyphicon-ok">H</span>
		</button>
	</div>
</div>


<br/>

<!-- p4-->
<div ng-controller='ttCellCtrl' class="col-xs-12">
	<div class="hidden-md hidden-lg hidden-sm col-xs-1 col-xs-offset-1">P4</div>
	<div class="col-xs-8  col-md-1">
		{{day[3].subjectTeacher.subject.name}},{{day[3].subjectTeacher.teacher.FName}},
			{{day[3].subjectTeacher.teacher.LName}},{{day[3].room}}
		<textarea class="col-md-12"
			ng-show="showTextBox" row="4" column="6" ng-model="userNotes">
		</textarea>
		<br/>
		<button ng-click="saveNotes(3)" ng-show="showTextBox" 
			type="button" class="btn btn-default btn-xs"><span
			class="glyphicon-ok"></span>S
		</button>
		<button type="button" class="btn btn-default btn-xs"
			ng-hide="showTextBox" ng-click="showTextBox=true"><span
			class="glyphicon-pencil"></span>E
		</button>
		<button type="button" class="btn btn-default btn-xs"
			ng-show="showTextBox" ng-click="showTextBox=false"><span
			class="glyphicon-pencil"></span>C
		</button>
		
		<div ng-show="showNotes">
		<div ng-repeat="n in notes.notes">
		<span style="font-size: 8px; font-style: italic;">{{n.stn_dt}}, {{n.userNotes}}</span>
		</div>
		{{notes.userNotes}}
		</div>
		<button ng-click="readNotes(3)" ng-hide="showNotes || showTextBox" 
			type="button" class="btn btn-default btn-xs"><span
			class="glyphicon-ok"></span>R
		</button>
		<button ng-show="showNotes" ng-click="showNotes=false"type="button" class="btn btn-default btn-xs"><span
			class="glyphicon-ok">H</span>
		</button>
	</div>
</div>


<br/>



<!-- p5-->
<div ng-controller='ttCellCtrl' class="col-xs-12">
	<div class="hidden-md hidden-lg hidden-sm col-xs-1 col-xs-offset-1">P5</div>
	<div class="col-xs-8  col-md-1">
		{{day[4].subjectTeacher.subject.name}},{{day[4].subjectTeacher.teacher.FName}},
			{{day[4].subjectTeacher.teacher.LName}},{{day[4].room}}
		<textarea class="col-md-12"
			ng-show="showTextBox" row="4" column="6" ng-model="userNotes">
		</textarea>
		<br/>
		<button ng-click="saveNotes(4)" ng-show="showTextBox" 
			type="button" class="btn btn-default btn-xs"><span
			class="glyphicon-ok"></span>S
		</button>
		<button type="button" class="btn btn-default btn-xs"
			ng-hide="showTextBox" ng-click="showTextBox=true"><span
			class="glyphicon-pencil"></span>E
		</button>
		<button type="button" class="btn btn-default btn-xs"
			ng-show="showTextBox" ng-click="showTextBox=false"><span
			class="glyphicon-pencil"></span>C
		</button>
		
		<div ng-show="showNotes">
		<div ng-repeat="n in notes.notes">
		<span style="font-size: 8px; font-style: italic;">{{n.stn_dt}}, {{n.userNotes}}</span>
		</div>
		{{notes.userNotes}}
		</div>
		<button ng-click="readNotes(4)" ng-hide="showNotes || showTextBox" 
			type="button" class="btn btn-default btn-xs"><span
			class="glyphicon-ok"></span>R
		</button>
		<button ng-show="showNotes" ng-click="showNotes=false"type="button" class="btn btn-default btn-xs"><span
			class="glyphicon-ok">H</span>
		</button>
	</div>
</div>


<br/>


<!-- p6-->
<div ng-controller='ttCellCtrl' class="col-xs-12">
	<div class="hidden-md hidden-lg hidden-sm col-xs-1 col-xs-offset-1">P6</div>
	<div class="col-xs-8  col-md-1">
		{{day[5].subjectTeacher.subject.name}},{{day[5].subjectTeacher.teacher.FName}},
			{{day[5].subjectTeacher.teacher.LName}},{{day[5].room}}
		<textarea class="col-md-12"
			ng-show="showTextBox" row="4" column="6" ng-model="userNotes">
		</textarea>
		<br/>
		<button ng-click="saveNotes(5)" ng-show="showTextBox" 
			type="button" class="btn btn-default btn-xs"><span
			class="glyphicon-ok"></span>S
		</button>
		<button type="button" class="btn btn-default btn-xs"
			ng-hide="showTextBox" ng-click="showTextBox=true"><span
			class="glyphicon-pencil"></span>E
		</button>
		<button type="button" class="btn btn-default btn-xs"
			ng-show="showTextBox" ng-click="showTextBox=false"><span
			class="glyphicon-pencil"></span>C
		</button>
		
		<div ng-show="showNotes">
		<div ng-repeat="n in notes.notes">
		<span style="font-size: 8px; font-style: italic;">{{n.stn_dt}}, {{n.userNotes}}</span>
		</div>
		{{notes.userNotes}}
		</div>
		<button ng-click="readNotes(5)" ng-hide="showNotes || showTextBox" 
			type="button" class="btn btn-default btn-xs"><span
			class="glyphicon-ok"></span>R
		</button>
		<button ng-show="showNotes" ng-click="showNotes=false"type="button" class="btn btn-default btn-xs"><span
			class="glyphicon-ok">H</span>
		</button>
	</div>
</div>


<br/>
</div>
</body>

</html>