
<h1>Teacher Form2</h1>

<form>
<input type="hidden" ng-model="id" /> <!-- 	<label for="firstName">First Name: </label> -->
<input type="text" class="topcoat-text-input" placeholder="First Name"
	ng-model="firstName" /><br />
<!-- 	<label for="lastName">Last Name: </label> --> <input type="text"
	class="topcoat-text-input" placeholder="Last Name" ng-model="lastName" /><br />
<!-- 	<label for="password">Password</label> -->                 
<input type="password"class="topcoat-text-input" placeholder="Password" ng-model="password" />
<br />
<input type ="teacherId" class="topcoat-text-input" placeholder="Teacher-Id" ng-model="teacherId"/>
<br />
<input type="text" class="topcoat-text-input" placeholder="E-Mail"ng-model="email" /> <br />
<select ng-model="department">
	<option value="">--Select Department--</option>
	<option value="1">Electronics</option>
	<option value="2">Others</option>
</select> <br />


<input type="button" name="create" ng-click="createTeacher()"value="Create" />
 <input type="button" name="update" value="Update"ng-click="updateTeacher()" />
 <input type="button" name="getTeacherRecord"value="Get Teacher Record" ng-click="readTeacher()" />
  <input type="button" name="delete"value="Delete" /> 
  <input type="button" name="list" value="List" />
	</form>
Data Entered by you:
<br />
Response: {{status}}: {{statusCode}}, {{statusMessage}}
