
<br>

<div align="center"  class="controls">
    <input  class="btn btn-large btn-primary" type="button"  value="Edit-Profile" ng-click="editProfile()" />
 	   <br>
 	   <br>
   <form action="StudentList.html" align="center">
     <input class="btn btn-large btn-primary" type="submit"  value="StudentList" />
   </form>

	<form action="GetTimeTable.html" align="center">
  	 <input class="btn btn-large btn-primary" type="submit"  value="Get Class Timetable" />
	</form>
	<input  class="btn btn-large btn-primary" type="button"  value="My Timetable" ng-click="myTimetable()" />
		<br>
		<br>

</div>

Data Entered by you:
<br />
Response: {{status}}: {{statusCode}}, {{statusMessage}}
