

<div class="col-md-3 col-xs-12" >
                 <p class="input-group">
                   <input type="text" class="form-control" datepicker-popup="{{format}}"  ng-model="dt" is-open="opened"
                     max-date="'2017-06-22'" datepicker-options="dateOptions"  ng-change="loadUser()" ng-required="true"
                      close-text="Close" />
                   <span class="input-group-btn">
                     <button type="button" class="btn btn-danger" ng-click="open($event) 
                     "><i class="glyphicon glyphicon-calendar"></i></button>
                     <input class="btn btn-primary" type="button" name="create"
	ng-click="teachertimeTable()" value="GO" />
                   </span>
                 </p>
              
             </div>



<div class="row  show-grid"  ng-repeat="day in modTimeTable track by $index" >
<div class="col-xs-12  col-md-1"></div>
<br />
<div class="show-grid col-xs-offset-1" ng-repeat="period in day track by $index"
	ng-controller='ttCellCtrl'>
<div><h4> Period:{{period.number}}</h4> Room:{{period.room}}, Department:
{{period.department.name}}, Section:{{period.section.name}},
Semester:{{period.semester}},
Subject:{{period.subjectTeacher.subject.name}} <textarea
	class="col-md-12" ng-show="showTextBox" row="4" column="6"
	ng-model="userNotes">
		</textarea> <br />
<button ng-click="saveNotes()" ng-show="showTextBox" type="button"
	class="btn btn-default btn-xs"><span class="glyphicon-ok"></span>S
</button>
<button type="button" class="btn btn-default btn-xs"
	ng-hide="showTextBox" ng-click="showTextBox=true"><span
	class="glyphicon-pencil"></span>E</button>
<button type="button" class="btn btn-default btn-xs"
	ng-show="showTextBox" ng-click="showTextBox=false"><span
	class="glyphicon-pencil"></span>C</button>

<div ng-show="showNotes">
<div ng-repeat="n in notes.notes"><span
	style="font-size: 8px; font-style: italic;">{{n.stn_dt}},
{{n.userNotes}}</span></div>
{{notes.userNotes}}</div>
<button ng-click="readNotes()" ng-hide="showNotes || showTextBox"
	type="button" class="btn btn-default btn-xs"><span
	class="glyphicon-ok"></span>R</button>
<button ng-show="showNotes" ng-click="showNotes=false" type="button"
	class="btn btn-default btn-xs"><span class="glyphicon-ok">H</span>
</button>
</div>
<br />
</div>
</div>
